body { background: black; color: white; }

h1, h2, h3, h1 + p { font-family: 'Molengo', Georgia, Times, serif; }

h2 { font-size: 2.0em; border-bottom: 1px solid #222; margin-bottom: 1em; }
h2 i { margin-right: 1em; }
h3 { font-size: 1.5em; font-weight: normal; }
h3 i { margin-right: 0.8em; }

section { padding-top: 20px; }
section + section { padding-top: 50px; }

footer {
   background: #191919;
   color: white;
   margin-top: 5em;
   padding: 2em 0 5em 0;
   text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;
}

footer i { margin-right: 1em; }


a.brand.highlighted {
   font-weight: bold;
   color: white;
   margin-top: -2px;
}


.jumbotron {
   background: url(../img/bg-green.png) #187575;
   color: white;
   padding-top: 40px;
   text-align: center;
   text-shadow: rgba(0, 50, 96, 0.8) 2px 2px 1px;
}

.jumbotron a {
   text-decoration: none;
}

.jumbotron .container {
   padding: 80px 0 40px 0;
   background: url(../img/content_glow.png) top center no-repeat; 
}

.jumbotron h1 {
   font-size: 6em;
   font-weight: normal;
   margin-bottom: 0.2em;
}

.jumbotron h1 + p {
   font-size: 2em;
   margin-bottom: 2em;
}

.jumbotron p {
   font-size: 1em;
}

.jumbotron .buttons {
   margin: 4em 0 3em 0;
}

.jumbotron .buttons .btn {
   border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
   color: white;
   font-size: 1.4em;
   font-weight: lighter;
   height: 70px;
   width: 28%;
}

.jumbotron .buttons .btn i {
   font-size: 1.4em;
   margin-right: 0.8em;
   letter-spacing: 0.07em;
}

.jumbotron .buttons > a + a {
   margin-left: 1.2em;
}

.jumbotron .btn {
   letter-spacing: 0.1em;
}

.btn-warning  {
   background: #f89406;
   text-shadow: -1px 0 0.2em #e70, 0 1px 0.2em #e70, 1px 0 0.2em #e70, 0px -1px 0.2em #e70;
}

.btn-warning:hover  {
   background: #ffa220;
}

.btn-inverse {
   background: #111;
   text-shadow: -1px 0 0.2em #000, 0 1px 0.25em #000, 1px 0 0.25em #000, 0px -1px 0.25em #000;
}

.btn-inverse:hover  {
   background: #222;
}

.btn-info {
   background: #066;
   text-shadow: -1px 0 0.2em #044, 0 1px 0.25em #044, 1px 0 0.25em #044, 0px -1px 0.25em #044;
}

.btn-info:hover  {
   background: #167272;
}


/* Social well */

.social.well {
   text-align: center;
}

.social.well .btn-mini + .btn-mini {
   margin-left: 2em;
}

.social.well .icon-large {
   margin-right: 0.5em;
}

.social.well .icon-large {
   font-size: 1.2em;
}


/* Testimonies */

#testimonies .row {
   margin-top: 40px;
   font-size: 1.3em;
}

#testimonies .row span {
   text-align: center;
}

#testimonies .row span p + p {
   font-style: italic;
}


