body {
	padding-bottom: 40px;
	text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
	background: url(../img/bg.png) repeat-x black;
}

body, h1, h2, h3 {
	color: white;
}

h1 {
	display: none;
}

h2 {
	margin-top: 20px; 
	font-weight: normal;
} 


a { color: #0db8be; }
a:hover { color: #0db8be; }
a:active { color: #0db8be; }


#main { background: url(../img/bg_glow.png) no-repeat top center; }
#main .content { margin-top: 60px; text-align: center; }


.cloning { margin: 30px 0px; }


.description { font-size: 1.2em; line-height: 1.6em; }


.download.button
{
   margin: 30px;
   width: 360px; 
   display: inline-block;
   border: 1px solid #157275;
   color: #ffffff;
   padding:  15px 0;
   
   text-decoration: none;
   
   font-size: 2.0em;
   text-shadow: rgba(0, 0, 0, 0.6) 0px -1px -1px;
   
   border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   
   box-shadow: inset 0px 1px 0px 0px #54b6b9;
   -moz-box-shadow: inset 0px 1px 0px 0px #54b6b9;
   -webkit-box-shadow: inset 0px 1px 0px 0px #54b6b9;

   background-color: #1a9ca0;
   background: -moz-linear-gradient( center top, #1a9ca0 5%, #157275 100% );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a9ca0', endColorstr='#157275');
   background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1a9ca0), color-stop(1, #157275) );
}

.button:hover
{
   background-color: #157275;
   background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #157275), color-stop(1, #1a9ca0) );
   background: -moz-linear-gradient( center top, #157275 5%, #1a9ca0 100% );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#157275', endColorstr='#1a9ca0');
}

.button:hover,
.button:focus
{
  outline:  0 none;
  border: 1px solid #258285;
  box-shadow:  0px 0px 7px rgba(255, 255, 255, 0.5);  
  -moz-box-shadow:  0px 0px 7px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow:  0px 0px 7px rgba(255, 255, 255, 0.5);  
}

.button:active { margin-top: 23px; }


.likes { margin-top:20px; margin-bottom:40px; }

					
.comments { margin-top:30px; }
.comments .span { width:190px; font-family:georgia; font-style:italic; font-size:1.1em; }
.comments .span + .span { margin-left:15px; padding-left:10px; }
.comments em { font-size:1.4em; display:block; margin-top:5px; }
.comments p { font-size:0.9em; margin-top:10px; text-align:right; }


.license { font-size:0.8em; }

										
footer
{
	border-top:solid 1px #333;
	margin-top:50px;
	padding-top:10px;
	font-size:0.85em;
}

footer a { color:white; text-decoration:underline; }

footer .links { text-align:right; }